<form class="form" [formGroup]="billToForm" (submit)="onSubmit(billToForm)">
  <h3 class="heading">Bill To</h3>
  <div class="name" styledInput>
    <label for="clientName">Client's Name</label>
    <input type="text" size="5" id="clientName" formControlName="clientName" />
  </div>
  <div class="email" styledInput>
    <label for="clientEmail">Client's Email</label>
    <input
      type="text"
      size="5"
      id="clientEmail"
      placeholder="e.g. email@example.com"
      formControlName="clientEmail"
    />
  </div>
  <div class="streetAddress" styledInput>
    <label for="clientStreetAddress">Street Address</label>
    <input
      type="text"
      size="5"
      id="clientStreetAddress"
      formControlName="clientStreetAddress"
    />
  </div>
  <div class="city" styledInput>
    <label for="clientCity">City</label>
    <input type="text" size="5" id="clientCity" formControlName="clientCity" />
  </div>
  <div class="postCode" styledInput>
    <label for="clientPostCode">Post Code</label>
    <input
      type="text"
      size="5"
      id="clientPostCode"
      formControlName="clientPostCode"
    />
  </div>
  <div class="country" styledInput>
    <label for="clientCountry">Country</label>
    <input
      type="text"
      size="5"
      id="clientCountry"
      formControlName="clientCountry"
    />
  </div>
</form>
