<form
  class="form"
  [formGroup]="billToForm"
  [ngClass]="{
    mobile: (bp$ | async) === 'mobile'
  }"
>
  <h3 class="heading">Bill To</h3>
  <div class="name" styledInput>
    <div class="label-container">
      <label for="clientName">Client's Name</label>
      <span class="input-error" aria-describedby="clientName">
        <span
          *ngIf="
            !billToForm.get('clientName')?.valid &&
            billToForm.get('clientName')?.dirty
          "
          >can't be empty</span
        >
      </span>
    </div>
    <input
      type="text"
      size="5"
      id="clientName"
      formControlName="clientName"
      (blur)="onTouched()"
    />
  </div>
  <div class="email" styledInput>
    <div class="label-container">
      <label for="clientEmail">Client's Email</label>
      <span class="input-error" aria-describedby="clientEmail">
        <span
          *ngIf="
            !billToForm.get('clientEmail')?.valid &&
            billToForm.get('clientEmail')?.dirty
          "
          >{{ errMsg }}</span
        >
      </span>
    </div>
    <input
      type="text"
      size="5"
      id="clientEmail"
      placeholder="e.g. email@example.com"
      formControlName="clientEmail"
      (blur)="onTouched()"
    />
  </div>
  <div class="streetAddress" styledInput>
    <div class="label-container">
      <label for="clientStreetAddress">Street Address</label>
      <span class="input-error" aria-describedby="clientStreetAddress">
        <span
          *ngIf="
            !billToForm.get('clientStreetAddress')?.valid &&
            billToForm.get('clientStreetAddress')?.dirty
          "
          >can't be empty</span
        >
      </span>
    </div>
    <input
      type="text"
      size="5"
      id="clientStreetAddress"
      formControlName="clientStreetAddress"
      (blur)="onTouched()"
    />
  </div>
  <div class="city" styledInput>
    <label for="clientCity">City</label>
    <input
      type="text"
      size="5"
      id="clientCity"
      formControlName="clientCity"
      (blur)="onTouched()"
    />
    <span class="input-error" aria-describedby="clientCity">
      <span
        *ngIf="
          !billToForm.get('clientCity')?.valid &&
          billToForm.get('clientCity')?.dirty
        "
        >can't be empty</span
      >
    </span>
  </div>
  <div class="postCode" styledInput>
    <label for="clientPostCode">Post Code</label>
    <input
      type="text"
      size="5"
      id="clientPostCode"
      formControlName="clientPostCode"
      (blur)="onTouched()"
    />
    <span class="input-error" aria-describedby="clientPostCode">
      <span
        *ngIf="
          !billToForm.get('clientPostCode')?.valid &&
          billToForm.get('clientPostCode')?.dirty
        "
        >can't be empty</span
      >
    </span>
  </div>
  <div class="country" styledInput>
    <label for="clientCountry">Country</label>
    <input
      type="text"
      size="5"
      id="clientCountry"
      formControlName="clientCountry"
      (blur)="onTouched()"
    />
    <span class="input-error" aria-describedby="clientCountry">
      <span
        *ngIf="
          !billToForm.get('clientCountry')?.valid &&
          billToForm.get('clientCountry')?.dirty
        "
        >can't be empty</span
      >
    </span>
  </div>
</form>
