@use "sass:map";
@use "@angular/material" as mat;
@use "../../../../styles/themes/palette";

$palette: mat.define-palette(palette.$md-custom-primary);
$color: map.get($palette, 500);

.heading {
  color: $color;
  font-size: 1.2rem;
  font-weight: 700;
  grid-area: heading;
  margin: 0;
}

.form {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    "clientName clientName clientName"
    "clientEmail clientEmail clientEmail"
    "streetAddress streetAddress streetAddress"
    "city postCode country";
  gap: 2rem;
  margin: 4.8rem 0;

  &.mobile {
    grid-template-areas:
      "heading heading"
      "clientName clientName"
      "clientEmail clientEmail"
      "streetAddress streetAddress"
      "city postCode"
      "country country";
  }
}

.streetAddress {
  grid-area: streetAddress;
}

.city {
  grid-area: city;
}

.postCode {
  grid-area: postCode;
}

.country {
  grid-area: country;
}

.name {
  grid-area: clientName;
}

.email {
  grid-area: clientEmail;
}
