@use "sass:map";
@use "@angular/material" as mat;
@use "../../styles/themes/palette";

$palette: mat.define-palette(palette.$md-custom-primary);
$color: map.get($palette, 500);
$light-color: map.get($palette, 400);

header {
  .logo-container {
    background-color: $color;
    margin-right: auto;

    .lower-half {
      background-color: $light-color;
    }
  }
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $bg-palette: map.get($color-config, "background");

  header {
    background-color: mat.get-color-from-palette($bg-palette, app-bar);
  }

  .theme-btn {
    color: mat.get-color-from-palette($bg-palette, theme-mode-icon);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: mat.get-color-from-palette($bg-palette, theme-mode-icon-hover);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
