<app-loading></app-loading>
<div
  class="home-container"
  *ngIf="!(isLoading$ | async)"
  [ngClass]="{
    desktop: ($bp | async) === 'desktop',
    tablet: ($bp | async) === 'tablet',
    mobile: ($bp | async) === 'mobile'
  }"
>
  <ng-container>
    <app-filter-bar></app-filter-bar>
    <div class="content-container">
      <div class="cards">
        <app-card
          *ngFor="let invoice of invoices$ | async"
          [showLargeCard]="($bp | async) !== 'mobile'"
          [cardData]="{
            id: invoice.id,
            paymentDue: invoice.paymentDue ? invoice.paymentDue : '',
            clientName: invoice.clientName ? invoice.clientName : '',
            total: invoice.total ? invoice.total : 0,
            status: invoice.status ? invoice.status : 'draft'
          }"
          class="card"
        ></app-card>
      </div>

      <div
        *ngIf="(invoices$ | async)?.length === 0"
        class="empty-logo-container"
      >
        <img
          class="empty-logo"
          src="../../assets/illustration-empty.svg"
          alt="empty image"
        />
        <div class="messages">
          <p class="nothing-msg">There is nothing here</p>
          <p>
            Create an invoice by clicking the
            <strong
              >New {{ ($bp | async) !== "mobile" ? "Invoice" : "" }}</strong
            >
            button and get started
          </p>
        </div>
      </div>
    </div>
    <footer></footer>
  </ng-container>
</div>
