.empty-logo {
  display: block;
  margin: 0 auto;
}
.empty-logo-container {
  text-align: center;
}

.nothing-msg {
  font-size: 2rem;
  font-weight: 700;
  margin: 4rem 0 3rem;

  & + p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}

.messages {
  max-width: 25rem;
  margin: 0 auto;
  line-height: 1.5rem;
}

.card {
  margin-top: 1.6rem;
  display: block;
}

.content-container {
  min-height: calc(100vh - 80px - 128px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 730px;
  gap: 2rem;
  margin: 0 auto;
}

.tablet.content-container {
  min-height: calc(100vh - 80px - 72px);
}

:host {
  width: 100%;
  max-width: 73rem;
}
