@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/themes/palette";

$palette: mat.define-palette(palette.$md-custom-primary);
$color: map.get($palette, 500);
$light-color: map.get($palette, 400);

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $fg-palette: map.get($color-config, "foreground");
  $bg-palette: map.get($color-config, "background");

  .inv-card {
    background-color: mat.get-color-from-palette($bg-palette, inv-card);

    &-small {
      background-color: mat.get-color-from-palette($bg-palette, inv-card);
    }
  }

  .dueDate {
    color: mat.get-color-from-palette($fg-palette, card-date);
  }

  .clientName {
    color: mat.get-color-from-palette($fg-palette, card-name);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
