<div *ngIf="cardData && showLargeCard" class="inv-card">
  <span class="id">
    <span class="hashTag">#</span>{{ cardData.id | sortchars }}
  </span>
  <span class="dueDate"
    >Due
    {{
      cardData.createdAt | adddays : cardData.paymentTerms | date : "dd MMM y"
    }}</span
  >
  <span class="clientName">{{ cardData.clientName }}</span>
  <span class="total">{{
    cardData.items | convertItems | addnums | currency : "GBP"
  }}</span>
  <span class="status-block">
    <app-status [status]="cardData.status"></app-status
    ><mat-icon fontIcon="keyboard_arrow_right" color="primary"></mat-icon>
  </span>
  <a
    class="link"
    title="Invoice"
    routerLink="detail"
    [queryParams]="{ id: cardData.id }"
  ></a>
</div>

<div *ngIf="cardData && !showLargeCard" class="inv-card-small">
  <span class="id">
    <span class="hashTag">#</span>{{ cardData.id | sortchars }}
  </span>
  <span class="clientName">{{ cardData.clientName }}</span>
  <div class="date-total">
    <p class="dueDate">
      Due
      {{
        cardData.createdAt | adddays : cardData.paymentTerms | date : "dd MMM y"
      }}
    </p>
    <p class="total">
      {{ cardData.items | convertItems | addnums | currency : "GBP" }}
    </p>
  </div>

  <span class="status-block">
    <app-status [status]="cardData.status"></app-status>
  </span>
  <a
    class="link"
    title="Invoice"
    [routerLink]="['detail']"
    [queryParams]="{ id: cardData.id }"
  ></a>
</div>
