<ul *ngIf="cardData" class="inv-card">
  <li class="id">
    <span class="hashTag">#</span>{{ cardData.id.slice(0, 6) }}
  </li>
  <li class="dueDate">Due {{ cardData.paymentDue | date : "dd MMM y" }}</li>
  <li class="clientName">{{ cardData.clientName }}</li>
  <li class="total">{{ cardData.total | currency : "GBP" }}</li>
  <li class="status-block">
    <app-status [status]="cardData.status"></app-status
    ><mat-icon fontIcon="keyboard_arrow_right" color="primary"></mat-icon>
  </li>
</ul>
