<form class="form" [formGroup]="itemListForm">
  <h3>Item List</h3>
  <div class="content">
    <table
      class="table-item-list"
      *ngIf="(bp$ | async) !== 'mobile'; else grid"
    >
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="item-name">
            <div styledInput>
              <label for="item-name">Item Name</label>
              <input
                type="text"
                title="item-name"
                id="item-name"
                size="5"
                (blur)="onTouched()"
              />
            </div>
          </td>
          <td class="qty">
            <div styledInput>
              <label for="qty">Qty</label>
              <input
                min="1"
                type="number"
                title="qty"
                id="qty"
                value="1"
                (blur)="onTouched()"
              />
            </div>
          </td>
          <td class="price">
            <div styledInput>
              <label for="price">Price</label>
              <input
                type="number"
                title="price"
                id="price"
                (blur)="onTouched()"
              />
            </div>
          </td>
          <td class="total-cell">
            <div class="total">
              <span class="total-price">777</span>
              <button
                type="button"
                class="btn"
                mat-icon-button
                disableRipple
                aria-label="Delete"
              >
                <mat-icon class="icon">delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="add-new-item-btn">+ Add New Item</button>
  </div>
</form>

<ng-template #grid>
  <div class="grid">
    <div class="item-name">
      <div styledInput>
        <label for="item-name">Item Name</label>
        <input
          type="text"
          title="item-name"
          id="item-name"
          size="5"
          (blur)="onTouched()"
        />
      </div>
    </div>
    <div class="qty">
      <div styledInput>
        <label for="qty">Qty</label>
        <input
          min="1"
          type="number"
          title="qty"
          id="qty"
          value="1"
          (blur)="onTouched()"
        />
      </div>
    </div>
    <div class="price">
      <div styledInput>
        <label for="price">Price</label>
        <input type="number" title="price" id="price" (blur)="onTouched()" />
      </div>
    </div>
    <div class="total">
      <div class="total-container">
        <div styledInput>
          <label for="total">Total</label>
          <input
            disabled
            value="696.69"
            type="number"
            title="total"
            id="total"
            (blur)="onTouched()"
          />
        </div>
        <button
          type="button"
          class="btn"
          mat-icon-button
          disableRipple
          aria-label="Delete"
        >
          <mat-icon class="icon">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
