.form {
  gap: 2rem;
  margin: 4.8rem 0 2rem;

  h3 {
    color: #777f98;
    font-size: 18px;
  }
}

.table-item-list {
  width: 100%;
  border-spacing: 0 1.5em;

  input {
    width: 100%;
  }

  th {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
  }

  th:not(:first-child),
  td:not(:first-child) {
    padding-left: 1.6rem;
  }

  label {
    display: none;
  }

  .item-name {
    width: 35%;
  }

  .qty {
    width: 15%;
  }

  .price {
    width: 25%;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  padding: 0;
  width: auto;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

.icon {
  width: auto;
}

.qty {
  input {
    padding-right: 0.8rem;
    text-align: center;
  }
}

.total-price {
  font-size: 1.2rem;
  font-weight: 700;
}

.add-new-item-btn {
  border: none;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.6rem;
  padding: 1.6rem;
  border-radius: 2.4rem;
  font-family: inherit;
  transition: 0.3s;
}

.grid {
  display: grid;
  grid-template-areas:
    "itemName itemName itemName"
    "qty price total";
  grid-template-columns: 1fr 1fr 2fr;
  gap: 2rem;
  margin: 4.8rem 0;

  .item-name {
    grid-area: itemName;
  }

  .qty {
    grid-area: qty;
  }

  .price {
    grid-area: price;
  }

  .total {
    grid-area: total;

    input {
      border: none;
      background-color: transparent;
      padding-left: 0;
      color: inherit;
    }
  }

  input {
    width: 100%;
  }

  .icon {
    margin-top: 20px;
  }
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
