.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 14rem;
  border-radius: 4px;
  font-weight: 700;

  .option .radio {
    display: none;
  }

  .option,
  label {
    font-weight: 700;
    cursor: pointer;
  }

  label {
    display: block;
    padding: 1.8rem 1.6rem;
  }
}

.option div {
  padding-top: 3px;
}

.options-container {
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: 3rem;
  order: 1;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);

  $scollBarBorderRadius: 0 8px 8px 0;

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: $scollBarBorderRadius;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scollBarBorderRadius;
  }

  &.active {
    max-height: 20rem;
    opacity: 1;
    // overflow-y: scroll;
    margin-top: 2.6rem;

    & + .selected::after {
      content: "\e5cf";
    }
  }
}

.selected {
  cursor: pointer;
  position: relative;
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  order: 0;

  &::after {
    position: absolute;
    right: 0.7em;
    font-size: 1.6em;
    font-family: "Material Icons";
    content: "\e5ce";
    pointer-events: none;
    transition: all 0.4s;
  }
}
