<div class="paymentTerms" styledInput>
  <label for="paymentTerms">Payment Terms</label>
  <div class="select-box">
    <div class="options-container" [ngClass]="{ active: selectRegionIsOpen }">
      <div class="option" *ngFor="let term of terms">
        <label>
          <div>{{ term.label }}</div>
          <input
            type="radio"
            class="radio"
            name="term"
            id="{{ term.label }}"
            value="{{ term.label }}"
            (click)="onRegionClick()"
            (change)="onRegionChange($event)"
          />
        </label>
      </div>
    </div>
    <div (click)="onRegionClick()" class="selected">{{ selectedRegion }}</div>
  </div>
</div>
