@use "sass:map";

$primary: #7c5dfa;
$primary-hover: #9277ff;
$dark-accent: #252945;
$white: #ffffff;
$light-accent: #f8f8fb;
$light-accent-hover: #dfe3fa;
$warn: #ec5757;
$warn-hover: #ff9797;
$modify: #f9fafe;
$fourth-colour: #373b53;
$fourth-colour-light-hover: #0c0e16;
$fourth-colour-dark-hover: #1e2139;
$theme-mode-colour: #7e88c3;
$medgrey: #888eb0;
$greyishBlue: #858bb2;

$lightgrey: #f8f8fb;
$darkBg: #141625;

$md-custom-accent-light: (
  50: #fefeff,
  100: #fdfdfe,
  200: #fcfcfd,
  300: #fafafc,
  400: #f9f9fc,
  500: $light-accent,
  600: #f7f7fa,
  700: #f6f6fa,
  800: #f5f5f9,
  900: $light-accent-hover,
  A100: $white,
  A200: $white,
  A400: $white,
  A700: $white,
  contrast: (
    50: $fourth-colour-light-hover,
    100: $fourth-colour-light-hover,
    200: $fourth-colour-light-hover,
    300: $fourth-colour-light-hover,
    400: $fourth-colour-light-hover,
    500: $fourth-colour-light-hover,
    600: $fourth-colour-light-hover,
    700: $fourth-colour-light-hover,
    800: $fourth-colour-light-hover,
    900: $fourth-colour-light-hover,
    A100: $fourth-colour-light-hover,
    A200: $fourth-colour-light-hover,
    A400: $fourth-colour-light-hover,
    A700: $fourth-colour-light-hover,
  ),
);

$md-custom-accent-dark: (
  50: $white,
  100: #bebfc7,
  200: #9294a2,
  300: #66697d,
  400: #464961,
  500: $dark-accent,
  600: #21243e,
  700: #1b1f36,
  800: #16192e,
  900: #0d0f1f,
  A100: #606cff,
  A200: #2d3dff,
  A400: #0013f9,
  A700: #0011e0,
  contrast: (
    50: $fourth-colour-light-hover,
    100: $fourth-colour-light-hover,
    200: $fourth-colour-light-hover,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $white,
    A200: $white,
    A400: $white,
    A700: $white,
  ),
);

$md-custom-primary: (
  50: #efecfe,
  100: #d8cefe,
  200: #beaefd,
  300: #a38efc,
  400: $primary-hover,
  500: $primary,
  600: #7455f9,
  700: #694bf9,
  800: #5f41f8,
  900: #4c30f6,
  A100: $white,
  A200: $white,
  A400: #d8d3ff,
  A700: #c2b9ff,
  contrast: (
    50: $fourth-colour-light-hover,
    100: $fourth-colour-light-hover,
    200: $fourth-colour-light-hover,
    300: $fourth-colour-light-hover,
    400: $fourth-colour-light-hover,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $fourth-colour-light-hover,
    A200: $fourth-colour-light-hover,
    A400: $fourth-colour-light-hover,
    A700: $fourth-colour-light-hover,
  ),
);

$md-custom-warning: (
  50: #fdebeb,
  100: #f9cdcd,
  200: #f6abab,
  300: #f28989,
  400: $warn-hover,
  500: $warn,
  600: #ea4f4f,
  700: #e74646,
  800: #e43c3c,
  900: #df2c2c,
  A100: $white,
  A200: #ffebeb,
  A400: #ffb8b8,
  A700: #ff9f9f,
  contrast: (
    50: $fourth-colour-light-hover,
    100: $fourth-colour-light-hover,
    200: $fourth-colour-light-hover,
    300: $fourth-colour-light-hover,
    400: $fourth-colour-light-hover,
    500: $fourth-colour-light-hover,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $fourth-colour-light-hover,
    A200: $fourth-colour-light-hover,
    A400: $fourth-colour-light-hover,
    A700: $fourth-colour-light-hover,
  ),
);

$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: $white,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $fourth-colour-light-hover,
    100: $fourth-colour-light-hover,
    200: $fourth-colour-light-hover,
    300: $fourth-colour-light-hover,
    400: $fourth-colour-light-hover,
    500: $fourth-colour-light-hover,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $fourth-colour-light-hover,
    A200: $fourth-colour-light-hover,
    A400: $fourth-colour-light-hover,
    A700: $white,
  ),
);

$light-theme-background-palette: (
  status-bar: map.get($grey-palette, 300),
  app-bar: $fourth-colour,
  check-box-bg: $light-accent-hover,
  grand-total-area: $fourth-colour,
  modify-btn: $modify,
  modify-btn-hover: $light-accent-hover,
  draft-btn-hover: $fourth-colour-light-hover,
  background: $lightgrey,
  filter-btn: #6e8098,
  secondary-background: $white,
  hover: rgba($fourth-colour-light-hover, 0.04),
  payday-rows: $modify,
  inv-card: $white,
  card: $white,
  dialog: $white,
  theme-mode-icon: $theme-mode-colour,
  theme-mode-icon-hover: $light-accent-hover,
  disabled-button: rgba($fourth-colour-light-hover, 0.12),
  raised-button: $white,
  focused-button: $white,
  selected-button: map.get($grey-palette, 300),
  selected-disabled-button: map.get($grey-palette, 400),
  disabled-button-toggle: map.get($grey-palette, 200),
  unselected-chip: map.get($grey-palette, 300),
  disabled-list-option: map.get($grey-palette, 200),
  tooltip: map.get($grey-palette, 700),
  side-nav: $white,
);

$dark-theme-background-palette: (
  status-bar: $fourth-colour-light-hover,
  app-bar: $fourth-colour-dark-hover,
  grand-total-area: $fourth-colour-light-hover,
  check-box-bg: $fourth-colour-dark-hover,
  modify-btn: $dark-accent,
  modify-btn-hover: $white,
  draft-btn-hover: $fourth-colour-dark-hover,
  background: $darkBg,
  filter-btn: #fff,
  secondary-background: $fourth-colour-light-hover,
  hover: rgba($white, 0.04),
  payday-rows: $dark-accent,
  inv-card: $fourth-colour-dark-hover,
  card: $dark-accent,
  dialog: $fourth-colour-dark-hover,
  theme-mode-icon: $theme-mode-colour,
  theme-mode-icon-hover: $light-accent-hover,
  disabled-button: rgba($white, 0.12),
  raised-button: map.get($grey-palette, 800),
  focused-button: $white,
  selected-button: map.get($grey-palette, 900),
  selected-disabled-button: map.get($grey-palette, 800),
  disabled-button-toggle: $fourth-colour-light-hover,
  unselected-chip: map.get($grey-palette, 700),
  disabled-list-option: rgba($white, 0.12),
  tooltip: map.get($grey-palette, 700),
  side-nav: $darkBg,
);

$light-theme-foreground-palette: (
  base: $fourth-colour-light-hover,
  drop-down: $fourth-colour-light-hover,
  drop-down-border: $light-accent-hover,
  back-btn-hover: $theme-mode-colour,
  divider: $fourth-colour-light-hover,
  dividers: $fourth-colour-light-hover,
  disabled: $fourth-colour-light-hover,
  card-date: $theme-mode-colour,
  card-name: $greyishBlue,
  disabled-button: rgba($fourth-colour-light-hover, 0.26),
  shadow: rgba(191, 191, 191, 5.8),
  disabled-text: $fourth-colour-light-hover,
  modify-btn: $theme-mode-colour,
  elevation: $fourth-colour-light-hover,
  hint-text: $fourth-colour-light-hover,
  secondary-text: $fourth-colour-light-hover,
  special-text: $medgrey,
  input-outline: $light-accent-hover,
  input-placeholder: rgba($fourth-colour-light-hover, 0.4),
  payday-item-text: $fourth-colour-light-hover,
  icon: rgba($fourth-colour-light-hover, 0.54),
  icons: rgba($fourth-colour-light-hover, 0.54),
  text: $fourth-colour-light-hover,
  slider-min: rgba($fourth-colour-light-hover, 0.87),
  slider-off: rgba($fourth-colour-light-hover, 0.26),
  slider-off-active: rgba($fourth-colour-light-hover, 0.38),
  status-block: $fourth-colour,
);

$dark-theme-foreground-palette: (
  base: $white,
  drop-down: $light-accent-hover,
  drop-down-border: $fourth-colour-dark-hover,
  back-btn-hover: $medgrey,
  divider: $white,
  dividers: $white,
  disabled: $white,
  card-date: $light-accent-hover,
  card-name: $white,
  disabled-button: rgba($white, 0.3),
  shadow: rgba(0, 0, 0, 5.8),
  disabled-text: $white,
  modify-btn: $light-accent-hover,
  elevation: $fourth-colour-light-hover,
  hint-text: $white,
  secondary-text: $lightgrey,
  special-text: $light-accent-hover,
  input-outline: $dark-accent,
  input-placeholder: $white,
  payday-item-text: $white,
  icon: $white,
  icons: $white,
  text: $white,
  slider-min: $white,
  slider-off: rgba($white, 0.3),
  slider-off-active: rgba($white, 0.3),
  status-block: $light-accent-hover,
);
