@use "@angular/material" as mat;
@use "sass:map";
@use "./themes/light";
@use "./themes/dark";
@use "./typography/config" as typography;
@use "./custom/directive-styles";
@use "../app/header/header.theme" as headerTheme;
@use "../app/home/home.theme" as homeTheme;
@use "../app/filter-bar/filter-bar.theme" as filterBarTheme;
@use "../app/app.theme" as appTheme;
@use "./themes/palette";
@use "../app/custom-checkbox/custom-checkbox-theme" as customCheckboxTheme;

@include mat.core();
@include mat.typography-hierarchy(typography.$main-typography);

.light-theme {
  $color-config: mat.get-color-config(light.$invoice-light-theme);
  $bg-palette: map.get($color-config, "background");
  background-color: mat.get-color-from-palette($bg-palette, background);
  @include mat.core-color(light.$invoice-light-theme);
  @include mat.fab-theme(light.$invoice-light-theme);
  @include mat.menu-theme(light.$invoice-light-theme);
  @include mat.checkbox-theme(light.$invoice-light-theme);
  @include mat.progress-spinner-theme(light.$invoice-light-theme);
  @include headerTheme.theme(light.$invoice-light-theme);
  @include homeTheme.theme(light.$invoice-light-theme);
  @include filterBarTheme.theme(light.$invoice-light-theme);
  @include appTheme.theme(light.$invoice-light-theme);
  @include customCheckboxTheme.theme(light.$invoice-light-theme);
}

.dark-theme {
  $color-config: mat.get-color-config(dark.$invoice-dark-theme);
  $bg-palette: map.get($color-config, "background");
  background-color: mat.get-color-from-palette($bg-palette, background);
  @include mat.core-color(dark.$invoice-dark-theme);
  @include mat.fab-theme(dark.$invoice-dark-theme);
  @include mat.menu-theme(dark.$invoice-dark-theme);
  @include mat.checkbox-theme(dark.$invoice-dark-theme);
  @include mat.progress-spinner-theme(dark.$invoice-dark-theme);
  @include headerTheme.theme(dark.$invoice-dark-theme);
  @include homeTheme.theme(dark.$invoice-dark-theme);
  @include filterBarTheme.theme(dark.$invoice-dark-theme);
  @include appTheme.theme(dark.$invoice-dark-theme);
  @include customCheckboxTheme.theme(dark.$invoice-dark-theme);
}

html,
body {
  min-width: 25rem;
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}

.status-group {
  padding: 18px 72px 0 18px !important;
}
