@use "sass:map";
@use "@angular/material" as mat;
@use "../styles/themes/palette";

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $bg-palette: map.get($color-config, "background");

  .sidenav-container {
    & .drawer {
      background-color: mat.get-color-from-palette($bg-palette, side-nav);
    }

    & .mat-drawer-backdrop {
      background-color: rgba($color: #000, $alpha: 0.5);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
