.desktop {
  display: flex;
}

main {
  flex: 1;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desktop main {
  min-height: 100vh;
}

.tablet main {
  min-height: calc(100vh - 80px);
}
