.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.desktop {
    flex-direction: row;
  }
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav-container {
  width: 100%;
}

.drawer {
  border-radius: 0 2rem 2rem 0;
  width: 100%;
  max-width: 60rem;
}

.mobile .drawer {
  border-radius: 0px;
}
