.desktop {
  display: flex;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
}

.content-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.desktop .content-container {
  min-height: 100vh;
}

.tablet .content-container {
  min-height: calc(100vh - 80px);
}
