<div class="info-text">
  <h1
    class="title"
    [ngClass]="{
      mobile: (bp$ | async) === 'mobile'
    }"
  >
    Invoices
  </h1>
  <p class="mat-body-1 num-of-invoices" *ngIf="invoices$ | async as invoices">
    {{
      (bp$ | async) !== "mobile"
        ? getNumOfInvoicesMsg(invoices)
        : getNumOfInvoicesMsgMobile(invoices)
    }}
  </p>
</div>
<div class="cta">
  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
    <label
      class="for-dropdown"
      for="dropdown"
      [matMenuTriggerFor]="filterMenu"
      #t="matMenuTrigger"
      >Filter {{ (bp$ | async) !== "mobile" ? "by status" : ""
      }}<mat-icon class="arrow">{{
        t.menuOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"
      }}</mat-icon></label
    >

    <mat-menu
      #filterMenu="matMenu"
      class="status-group"
      hasBackdrop="true"
      [formGroup]="statusFormGroup"
    >
      <p *ngFor="let status of statuses">
        <app-custom-checkbox
          formControlName="{{ status }}"
          (click)="$event.stopPropagation()"
        >
          <span> {{ status | titlecase }} </span>
        </app-custom-checkbox>
      </p>
    </mat-menu>
  </div>
  <button appStyledButton>
    <mat-icon>add_circle</mat-icon>
    <span class="text"
      >New {{ (bp$ | async) !== "mobile" ? "Invoice" : "" }}</span
    >
  </button>
</div>
