@use "sass:map";
@use "@angular/material" as mat;
@use "../themes/palette";

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $fg-palette: map.get($color-config, "foreground");
  $bg-palette: map.get($color-config, "background");

  .back-btn {
    color: mat.get-color-from-palette($fg-palette, base);

    &:hover {
      color: mat.get-color-from-palette($fg-palette, back-btn-hover);
    }
  }

  .button-bg.modify {
    color: mat.get-color-from-palette($fg-palette, modify-btn);
    background-color: mat.get-color-from-palette($bg-palette, modify-btn);

    &:hover {
      background-color: mat.get-color-from-palette(
        $bg-palette,
        modify-btn-hover
      );
    }
  }

  .styled-input {
    color: mat.get-color-from-palette($fg-palette, modify-btn);

    input {
      border-color: mat.get-color-from-palette($fg-palette, input-outline);
      background-color: mat.get-color-from-palette($bg-palette, dialog);
      color: mat.get-color-from-palette($fg-palette, base);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
