@use "sass:map";
@use "@angular/material" as mat;
@use "../themes/palette";

$custom-warning: mat.define-palette(palette.$md-custom-warning);
$warning-color: map.get($custom-warning, 500);

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $fg-palette: map.get($color-config, "foreground");
  $bg-palette: map.get($color-config, "background");

  .back-btn {
    color: mat.get-color-from-palette($fg-palette, base);

    &:hover {
      color: mat.get-color-from-palette($fg-palette, back-btn-hover);
    }
  }

  .button-bg.draft {
    color: mat.get-color-from-palette($fg-palette, special-text);
    &:hover {
      background-color: mat.get-color-from-palette(
        $bg-palette,
        draft-btn-hover
      );
    }
  }

  .button-bg.modify {
    color: mat.get-color-from-palette($fg-palette, modify-btn);
    background-color: mat.get-color-from-palette($bg-palette, modify-btn);

    &:hover {
      background-color: mat.get-color-from-palette(
        $bg-palette,
        modify-btn-hover
      );
    }
  }

  .styled-input {
    color: mat.get-color-from-palette($fg-palette, modify-btn);

    .input-error {
      color: $warning-color;
    }

    input {
      border-color: mat.get-color-from-palette($fg-palette, input-outline);
      background-color: mat.get-color-from-palette($bg-palette, dialog);
      color: mat.get-color-from-palette($fg-palette, base);

      &.ng-invalid.ng-dirty {
        outline-color: transparent;
        border-color: $warning-color;
      }

      &::placeholder {
        color: mat.get-color-from-palette($fg-palette, input-placeholder);
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
