@use "sass:map";
@use "@angular/material" as mat;
@use "../themes/palette";

$palette: mat.define-palette(palette.$md-custom-primary);
$bg-color: map.get($palette, 500);
$bg-color-hover: map.get($palette, 400);

.back-btn {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;

  & > span {
    padding-top: 5px;
  }
}

.button-bg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  cursor: pointer;
  padding: 20px;
  height: 48px;
  gap: 10px;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 40px;
  font-weight: 700;
  font-family: inherit;
  transition: 0.3s;
  white-space: nowrap;
  letter-spacing: -0.25px;

  &:hover:enabled {
    background-color: $bg-color-hover;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  & .text {
    padding-top: 3px;
  }

  &.modify {
    &:hover {
      color: palette.$theme-mode-colour !important;
    }
  }

  &.danger {
    background-color: palette.$warn;

    &:hover {
      background-color: palette.$warn-hover;
    }
  }

  &.draft {
    background-color: palette.$fourth-colour;
  }
}

.styled-input {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  .label-container {
    display: flex;
    justify-content: space-between;
  }

  label {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .input-error {
    font-weight: 600;
    font-size: 1rem;
  }

  input {
    font-family: inherit;
    padding: 1.5rem;
    letter-spacing: -0.25px;
    font-size: 1.2rem;
    line-height: 15px;
    font-weight: 700;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    caret-color: $bg-color;
    box-sizing: border-box;

    &:focus-visible {
      outline-width: 1px;
      border-radius: 4px;
      outline-color: $bg-color;
      outline-style: solid;
    }
  }
}
