@use "@angular/material" as mat;

$ff: "'League Spartan', sans-serif";

$main-typography: mat.define-typography-config(
  $headline:
    mat.define-typography-level(
      32px,
      $font-family: $ff,
      $font-weight: 700,
      $line-height: 36px,
      $letter-spacing: -1px
    ),
  $title:
    mat.define-typography-level(
      20px,
      $font-family: $ff,
      $font-weight: 700,
      $letter-spacing: -0.63px
    ),
  $subheading-2:
    mat.define-typography-level(
      16px,
      $font-family: $ff,
      $font-weight: 700,
      $letter-spacing: -0.8px
    ),
  $subheading-1:
    mat.define-typography-level(
      12px,
      $font-family: $ff,
      $font-weight: 700,
      $letter-spacing: -0.25px
    ),
  $body-1:
    mat.define-typography-level(
      12px,
      $font-family: $ff,
      $font-weight: 500,
      $line-height: 15px
    ),
  $body-2:
    mat.define-typography-level(
      11px,
      $font-family: $ff,
      $letter-spacing: -0.23px
    ),
  $button:
    mat.define-typography-level(16px, $font-family: $ff, $font-weight: 700),
  $input: mat.define-typography-level(inherit, 1.125, 400),
);
