@use "@angular/material" as mat;

$ff: "'League Spartan', sans-serif";

$main-typography: mat.define-typography-config(
  $display-1:
    mat.define-typography-level(28px, $font-family: $ff, $font-weight: 700),
  $headline:
    mat.define-typography-level(28px, $font-family: $ff, $font-weight: 700),
  $title:
    mat.define-typography-level(24px, $font-family: $ff, $font-weight: 700),
  $subheading-2:
    mat.define-typography-level(20px, $font-family: $ff, $font-weight: 700),
  $subheading-1:
    mat.define-typography-level(14px, $font-family: $ff, $font-weight: 700),
  $body-1: mat.define-typography-level(16px, $font-family: $ff),
  $button:
    mat.define-typography-level(16px, $font-family: $ff, $font-weight: 700),
  $input: mat.define-typography-level(inherit, 1.125, 400),
);
