<app-loading></app-loading>
<div
  *ngIf="!(isLoading$ | async)"
  class="detail-view"
  [ngClass]="{
    mobile: ($bp | async) === 'mobile'
  }"
>
  <button backButton class="back-btn">
    <mat-icon
      fontIcon="keyboard_arrow_left"
      class="btn-icon"
      color="primary"
    ></mat-icon
    ><span>Go back</span>
  </button>
  <header class="detail-view-header">
    <span class="status-label">Status</span>
    <app-status *ngIf="invoice.status" [status]="invoice.status"></app-status>
    <ng-container *ngIf="($bp | async) !== 'mobile'">
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </ng-container>
  </header>
  <div class="invoice-output">
    <div class="top">
      <div class="invoice-data">
        <div class="id-container">
          <span class="hashTag">#</span
          ><span class="id">{{ invoice.id | sortchars }}</span>
        </div>
        <div class="invoice-desc">{{ invoice.description }}</div>
      </div>
      <ul *ngIf="invoice.clientAddress" class="invoice-address">
        <li>{{ invoice.clientAddress.street }}</li>
        <li>{{ invoice.clientAddress.country }}</li>
        <li>{{ invoice.clientAddress.postCode }}</li>
        <li>{{ invoice.clientAddress.city }}</li>
      </ul>
    </div>
    <div class="main-info">
      <div class="dates">
        <div class="invoice-date">
          <div class="inv-label">Invoice Date</div>
          <div class="important-text">
            {{ invoice.createdAt | date : "dd MMM y" }}
          </div>
        </div>
        <div class="payment-date">
          <div class="inv-label">Payment Due</div>
          <div class="important-text">
            {{ invoice.paymentDue | date : "dd MMM y" }}
          </div>
        </div>
      </div>
      <div class="bill-to">
        <div class="inv-label">Bill To</div>
        <div class="important-text">{{ invoice.clientName }}</div>
        <ul *ngIf="invoice.senderAddress" class="invoice-address">
          <li>{{ invoice.senderAddress.street }}</li>
          <li>{{ invoice.senderAddress.country }}</li>
          <li>{{ invoice.senderAddress.postCode }}</li>
          <li>{{ invoice.senderAddress.city }}</li>
        </ul>
      </div>
      <div class="sent-to">
        <div class="inv-label">Sent to</div>
        <div class="important-text">{{ invoice.clientEmail }}</div>
      </div>
      <div class="payday">
        <div *ngIf="($bp | async) === 'mobile'; else table" class="row-area">
          <div class="row" *ngFor="let item of invoice.items">
            <div class="item">
              <div class="name">{{ item.name }}</div>
              <div class="info">
                <span class="quantity">{{ item.quantity }}</span>
                x
                <span class="price">{{ item.price | currency : "GBP" }}</span>
              </div>
            </div>
            <div class="total-price">{{ item.total | currency : "GBP" }}</div>
          </div>
        </div>
        <div class="grand-total-area">
          <span class="grand-total-label">Grand Total</span>
          <span class="grand-total">{{
            invoice.total | currency : "GBP"
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<footer *ngIf="($bp | async) === 'mobile'" class="detail-view-footer">
  <ng-container *ngTemplateOutlet="buttons"></ng-container>
</footer>

<ng-template #buttons>
  <button pill-button="modify" (click)="onEditClick()">Edit</button>
  <button pill-button="danger" (click)="onDeleteBtnClick()">Delete</button>
  <button
    *ngIf="invoice.status === 'pending'"
    pill-button="default"
    (click)="onMarkAsPaidClick()"
  >
    Mark as Paid
  </button>
</ng-template>

<ng-template #table>
  <table class="payday-table">
    <tr>
      <th class="item-name-header">Item Name</th>
      <th>QTY.</th>
      <th class="price-header">Price</th>
      <th class="total-header">Total</th>
    </tr>
    <tr *ngFor="let item of invoice.items">
      <td>{{ item.name }}</td>
      <td class="qty-cell">{{ item.quantity }}</td>
      <td class="price-cell">{{ item.price | currency : "GBP" }}</td>
      <td class="total-cell">{{ item.total | currency : "GBP" }}</td>
    </tr>
  </table>
</ng-template>
