:host {
  width: 100%;
}

.detail-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 15px;
  word-wrap: break-word;
  margin: 2.4rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
  &-header,
  .invoice-output {
    padding: 2.4rem;
    background-color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  }
}

.invoice-address {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 20px;
}

.inv-label {
  margin-bottom: 12px;
}

.back-btn {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;

  & > span {
    padding-top: 5px;
  }
}

.id {
  text-transform: uppercase;
}

.id-container {
  margin-bottom: 8px;
  font-weight: 700;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.sent-to {
  width: 100%;
}

.important-text {
  font-size: 1.5rem;
  line-height: 20px;
  font-weight: 700;
}

.bill-to .important-text {
  margin-bottom: 8px;
}

.payday {
  font-weight: 700;
  width: 100%;
  border-radius: 8px;
  background-color: lightblue;
}

.row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px 8px 0 0;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.row-area {
  padding: 2.4rem;
}

.total-price,
.grand-total {
  justify-self: end;
}

.item {
  line-height: 25px;
}

.item,
.total-price {
  padding-top: 3px;
}

.grand-total {
  font-size: 2rem;

  &-label {
    font-size: 1.1rem;
    font-weight: 500;
  }

  &-area {
    display: flex;
    justify-content: space-between;
    padding: 3.1rem 2.4rem;
    background-color: lightpink;
    border-radius: 0 0 8px 8px;
  }
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
