<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="invoice-form"
    [ngClass]="{
      mobile: (bp$ | async) === 'mobile'
    }"
  >
    <button type="button" backButton class="back-btn" (click)="onGoBackClick()">
      <mat-icon
        fontIcon="keyboard_arrow_left"
        class="btn-icon"
        color="primary"
      ></mat-icon
      ><span>Go back</span>
    </button>
    <h2 *ngIf="!currentEditedInvoice; else editHeading" class="heading">
      {{ headerTxt }}
    </h2>
    <div>
      <app-bill-from-form
        formControlName="billFromForm"
        [reset]="reset$"
      ></app-bill-from-form>
      <app-bill-to-form
        formControlName="billToForm"
        [reset]="reset$"
      ></app-bill-to-form>
      <app-misc-info-form
        formControlName="miscInfoForm"
        [reset]="reset$"
      ></app-misc-info-form>
      <app-item-list-form
        formControlName="itemListForm"
        [reset]="reset$"
      ></app-item-list-form>
      <ul class="error-block" role="list">
        <li role="listitem" *ngFor="let error of errors">- {{ error }}</li>
      </ul>
    </div>
  </div>
  <div
    class="buttons"
    [ngClass]="{
      mobile: (bp$ | async) === 'mobile'
    }"
  >
    <ng-container *ngIf="!currentEditedInvoice; else editButtons">
      <button type="button" pill-button="modify" (click)="onDiscardClick()">
        Discard
      </button>
      <button type="button" pill-button="draft" (click)="onSaveAsDraftClick()">
        Save as Draft
      </button>
      <button pill-button="default" type="submit" [disabled]="form.invalid">
        Save & Send
      </button>
    </ng-container>
  </div>
</form>

<ng-template #editHeading>
  <h2 class="heading">Edit <span class="hashTag">#</span>{{ headerTxt }}</h2>
</ng-template>
<ng-template #editButtons>
  <button
    class="cancel-btn"
    type="button"
    pill-button="modify"
    (click)="onDiscardClick()"
  >
    Cancel
  </button>
  <button
    class="save-changes-btn"
    pill-button="default"
    type="submit"
    [disabled]="form.invalid"
  >
    Save Changes
  </button>
</ng-template>
