@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $fg-palette: map.get($color-config, "foreground");

  .shadow {
    box-shadow: 0px -57px 114px -25px
      mat.get-color-from-palette($fg-palette, shadow);
  }

  ::-webkit-scrollbar-thumb {
    background: mat.get-color-from-palette($fg-palette, input-outline);
    border-radius: 10px;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
