.empty-logo {
  display: block;
  margin: 0 auto;
}
.empty-logo-container {
  text-align: center;
}

.nothing-msg {
  font-size: 2rem;
  font-weight: 700;
  margin: 4rem 0 3rem;

  & + p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}

.messages {
  max-width: 25rem;
  margin: 0 auto;
  line-height: 1.5rem;
}
