<app-loading></app-loading>

<app-card
  *ngFor="let invoice of invoices$ | async"
  [cardData]="{
    id: invoice.id,
    paymentDue: invoice.paymentDue,
    clientName: invoice.clientName,
    total: invoice.total,
    status: invoice.status
  }"
></app-card>

<div
  *ngIf="(invoices$ | async)?.length === 0 && !(isLoading$ | async)"
  class="empty-logo-container"
>
  <img
    class="empty-logo"
    src="../../assets/illustration-empty.svg"
    alt="empty image"
  />
  <div class="messages">
    <p class="nothing-msg">There is nothing here</p>
    <p>
      Create an invoice by clicking the <strong>New Invoice</strong> button and
      get started
    </p>
  </div>
</div>
