<form class="form" [formGroup]="billFromForm" (submit)="onSubmit(billFromForm)">
  <h3 class="heading">Bill From</h3>
  <div class="streetAddress" styledInput>
    <label for="senderStreetAddress">Street Address</label>
    <input
      type="text"
      size="5"
      id="senderStreetAddress"
      formControlName="senderStreetAddress"
    />
  </div>
  <div class="city" styledInput>
    <label for="senderCity">City</label>
    <input type="text" size="5" id="senderCity" formControlName="senderCity" />
  </div>
  <div class="postCode" styledInput>
    <label for="senderPostCode">Post Code</label>
    <input
      type="text"
      size="5"
      id="senderPostCode"
      formControlName="senderPostCode"
    />
  </div>
  <div class="country" styledInput>
    <label for="senderCountry">Country</label>
    <input
      type="text"
      size="5"
      id="senderCountry"
      formControlName="senderCountry"
    />
  </div>
</form>
