<form
  class="form"
  [formGroup]="billFromForm"
  [ngClass]="{
    mobile: (bp$ | async) === 'mobile'
  }"
>
  <h3 class="heading">Bill From</h3>
  <div class="streetAddress" styledInput>
    <div class="label-container">
      <label for="senderStreetAddress">Street Address</label>
      <span class="input-error" aria-describedby="senderS">
        <span
          *ngIf="
            !billFromForm.get('senderStreetAddress')?.valid &&
            billFromForm.get('senderStreetAddress')?.dirty
          "
          >can't be empty</span
        >
      </span>
    </div>
    <input
      type="text"
      size="5"
      id="senderStreetAddress"
      formControlName="senderStreetAddress"
      (blur)="onTouched()"
    />
  </div>
  <div class="city" styledInput>
    <label for="senderCity">City</label>
    <input
      type="text"
      size="5"
      id="senderCity"
      formControlName="senderCity"
      (blur)="onTouched()"
    />
    <span class="input-error" aria-describedby="senderCity">
      <span
        *ngIf="
          !billFromForm.get('senderCity')?.valid &&
          billFromForm.get('senderCity')?.dirty
        "
        >can't be empty</span
      >
    </span>
  </div>
  <div class="postCode" styledInput>
    <label for="senderPostCode">Post Code</label>
    <input
      type="text"
      size="5"
      id="senderPostCode"
      formControlName="senderPostCode"
      (blur)="onTouched()"
    />
    <span class="input-error" aria-describedby="senderPostCode">
      <span
        *ngIf="
          !billFromForm.get('senderPostCode')?.valid &&
          billFromForm.get('senderPostCode')?.dirty
        "
        >can't be empty</span
      >
    </span>
  </div>
  <div class="country" styledInput>
    <div class="label-container">
      <label for="senderCountry">Country</label>
      <span class="input-error" aria-describedby="senderCountry">
        <span
          *ngIf="
            !billFromForm.get('senderCountry')?.valid &&
            billFromForm.get('senderCountry')?.dirty
          "
          >can't be empty</span
        >
      </span>
    </div>
    <input
      type="text"
      size="5"
      id="senderCountry"
      formControlName="senderCountry"
      (blur)="onTouched()"
    />
  </div>
</form>
