<form
  class="form"
  [formGroup]="miscInfoForm"
  [ngClass]="{
    mobile: (bp$ | async) === 'mobile'
  }"
>
  <div class="invoiceDate" styledInput>
    <label for="invoiceDate">Invoice Date</label>
    <div class="input-container-date">
      <input
        [readonly]="true"
        type="text"
        size="5"
        id="invoiceDate"
        formControlName="invoiceDate"
        [matDatepicker]="picker"
        (blur)="onTouched()"
      />
      <mat-datepicker-toggle
        matIconSuffix
        class="date-picker-toggle"
        [for]="picker"
      ></mat-datepicker-toggle>
    </div>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  <app-select-payment-terms
    formControlName="paymentTerms"
    class="paymentTerms"
  ></app-select-payment-terms>
  <div class="projectDescription" styledInput>
    <div class="label-container">
      <label for="projectDescription">Project Description</label>
      <span class="input-error" aria-describedby="projectDescription">
        <span
          *ngIf="
            !miscInfoForm.get('projectDescription')?.valid &&
            miscInfoForm.get('projectDescription')?.dirty
          "
          >can't be empty</span
        >
      </span>
    </div>

    <input
      type="text"
      size="5"
      id="projectDescription"
      formControlName="projectDescription"
      (blur)="onTouched()"
    />
  </div>
</form>
